<!-- Loop over each object in the projects array -->
{{#each affirmations as |affirmation| }}
<div class="row mb-4 project">
  <div class="col-md-5">
   
    <p>Created by {{affirmation.user.name}} on {{format_date affirmation.date_created}}</p>
  </div>
  <div class="col-md-7">
    <p>
      {{affirmation.text}}
    </p>
  </div>
</div>
{{/each}}
