header, .project:not(:last-child) {
  border-bottom: 1px solid #ccc;
}

.no-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: #1b89bc;
  text-decoration: none;
  font-size: 100%;
}

.no-button:hover {
  color: #065b83;
  text-decoration: underline;
}

.dollar-amount {
  color: #056605;
  font-weight: bold;
  margin-left: -5px;
}
 .profile-background {
  background-image: url("/images/affirmation-bg.jpg");
  height: 100%;
  width: 100%;
}

.homepagebackground {
  background-image: url("/images/numerology-bg.jpg");
  height: 100%;
  width: 100%;
}

.loginbackground {
  background-image: url("/images/astrology-bg.jpg");
}